/* Give your page a fun background color */
body {
    background-color: coral;
}
/* Make the header and footer a different color from the background */
header,footer {
    background-color: rgb(81, 0, 255);
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align:center;
    color: azure;
}
/* Make your p tag a different color and italic */
p {
    text-align: center;
     color: azure;
     font-style: italic;
}
/* Put a border around your image */
img {
    border-style: solid; 
    border-color: green;
    border-width: thick;
}

/* Change the font-family of your list */
ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}